*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    min-height:650px;
    background-color: silver;
    margin: 0px auto;
    padding-top: 25px;
   }
   #header{
    min-height: 150px;
    width: 900px;
    background-color: green;
    margin-left: 25px;
   }
   #navigation{
    display: inline-block;
    vertical-align: top;
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 25px;
    margin-top: 25px;
    

   }
   #main_content{
    min-height: 450px;
    width: 667px;
    background-color: red;
    vertical-align: top;
    margin-left: 30px;
    display: inline-block;
    margin-top: 25px;
    

   }
   .subcontents{
    min-height: 180px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 628px;
    background-color: purple;
    margin-left: 10px;
    margin-top: 40px;
   }